.container {
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: row;
}

.column1 {
    background-color: rgb(66, 82, 184);
    width: 25%;
    height: 100%;
    position: relative;
}

.column2 {
    background-color: #dce1fa;
    height: 100%;
    width: 75%;
    border-left: 5px solid  rgb(36, 47, 122); 
}

.title {
    width: 100%;
    height: 100%;
    background-color: #deecff;
    color: rgb(36, 47, 122);
    border: none;
    font-family: Coolvetica;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.title:focus {
    outline: none;
    background: rgb(36, 47, 122);
    color: #deecff;
}

.title:hover {
    outline: none;
    background: rgb(36, 47, 122);
    color: #deecff;
}

.titleDiv {
    height: 6%;
    border-bottom: 3px solid rgb(36, 47, 122);
    box-sizing: border-box;
}

.descriptionDiv {
    height: 94%;
}

.description {
    width: 100%;
    height: 100%;
    background-color: #deecff; 
    border: none;
    font-family: RobotoLight;
    outline: none;
    color: rgb(36, 47, 122);
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
}

.searchAndButtons {
    height: 10%;
}

.userNotes {
    overflow: scroll;
    position: relative;
    height: 90%;
    width: 100%;
} 

.note {
    width: 100%;
    height: 65px;
    border-top: 1px solid rgb(36, 47, 122);
    border-bottom: 1px solid rgb(36, 47, 122);
    box-sizing: border-box;
    color: white;
    padding: 8px 15px 0px 10px;
}

.notehighlight {
    width: 100%;
    height: 65px;
    border-top: 1px  solid rgb(36, 47, 122);
    border-bottom: 1px  solid rgb(36, 47, 122);
    padding: 8px 15px 0px 10px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(36, 47, 122);
}

.note:hover {
    background-color: rgb(36, 47, 122);
}

.sideTitle {
    font-weight: bolder;
    font-weight: 500;
    padding: 0px;
    margin-bottom: -2px;
    font-family: Coolvetica;
}

.sideDescription {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.sideDate {
    font-size: 10px;
    color: #eaeaea;
    font-family: RobotoThin;

}

#text {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inherit;
 } 

 .btn-group button {
    background-color: #deecff; 
    border: 1px solid rgb(36, 47, 122);
    border-bottom: 1px solid #deecff;
    border-top: 1px solid #deecff;
    color: rgb(36, 47, 122); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    width: 50%;
    font-family: RobotoBold;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:hover {
    background-color: rgb(36, 47, 122);
    color:#deecff;
  }

  .btn-group button:focus {
    outline: none;
  }