.container {
    width: 100%;
    height: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f1f6;
}

.form {
    align-content: center;
}

.notetitle {
    width: 600px; /* usingpercentages for the size does not work */
    height: 50px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/*.notebody {
    width: 600px; 
    height: 300px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
} */

.notebody {
    width: 600px; /* usingpercentages for the size does not work  */
    height: 300px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column; 
    border-radius: 4px;
    background-color: #f8f8f8;
    color:grey;
    font-size: 16px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
} 
  
  .buttoncontainer {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.buttonb {
    width: 180px;
    height: 30px;
    margin-right: 5px;
}

.buttonb {
    padding: 2px 30px;
    background-color: #417cef; 
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: #ffffff;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #777676;
}

.buttonb:hover,
.buttonb:focus {
    background-color: #000000;
    color: white;
}
