.Homepage-header {
    background-color: #cf7500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.buttoncontainer {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.loginb {
    width: 180px;
    height: 30px;
    margin-right: 5px;
}

.registerb {
    width: 180px;
    height: 30px;
    margin-left: 5px;
}

.loginb:hover {
    background-color: #043927;
}

.loginb {
    padding: 2px 30px;
    background-color: #417cef; 
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: #ffffff;
    margin-top: 20px;
    border: none;
    /*border: 2px solid #f0a500; */
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #000000;
}

.loginb:hover,
.loginb:focus {
    background-color: #f0a500;
    color: white;
}

.registerb {
    padding: 2px 30px;
    background-color: #417cef; 
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: #ffffff;
    margin-top: 20px;
    border: none;
    /*border: 2px solid #f0a500; */
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #000000;
}

.registerb:hover,
.registerb:focus {
    background-color: #f0a500;
    color: white;
}

.pagetitle {
    color: white;
}