.HomepageStyle {
    background-color: #b43a05;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: coolvetica;
    letter-spacing: 10px;
  }

.buttoncontainer {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.loginb {
    width: 180px;
    height: 30px;
    margin-right: 1px;
}

.registerb {
    width: 180px;
    height: 30px;
    margin-left: 1px;
}

.loginb {
    padding: 2px 30px;
    background-color: #417cef; 
    font-size: 18px;
    border-radius: 3px;
    font-family: coolvetica;
    background-color: #ffffff;
    margin-top: 20px;
    border: none;
    /*border: 2px solid #f0a500; */
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #b43a05;
}

.loginb:hover,
.loginb:focus {
    background-color: #f0a500;
    color: white;
    outline: none;
}

.registerb {
    padding: 2px 30px;
    background-color: #417cef; 
    font-size: 18px;
    border-radius: 3px;
    font-family: coolvetica;
    background-color: #ffffff;
    margin-top: 20px;
    border: none;
    /*border: 2px solid #f0a500; */
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #b43a05;
}

.registerb:hover,
.registerb:focus {
    background-color: #f0a500;
    color: white;
    outline: none;
}

.pagetitle {
    color: white;
}

.slogan {
    letter-spacing: 10px;
    font-size: 10px;
}

.link {
    padding: 2px 30px;
    font-size: 18px;
    border-radius: 3px;
    font-family: coolvetica;
    background-color: #ffffff;
    border: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: #b43a05;
    text-decoration: none;
    letter-spacing: 5px;
}

.link:hover,
.link:focus {
    background-color: #f0a500;
    color: white;
    outline: none;
}