/* .panels {
    max-width: 100%;
    word-wrap: break-word;
} */

.containerD {
    width: 100%;
    height: 100%;
   /* display: flex;
 /*   justify-content: center;
    align-items: left; */
    flex-direction: column;
    background-color: #f0f1f6;
} 

/* .notebody {
    width: 600px; /* usingpercentages for the size does not work  */
    /* height: 300px;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column; 
    border-radius: 4px;
    background-color: #f8f8f8;
    color:grey;
    font-size: 16px;
     resize: none; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}  */

.notebody {
	/* min-height: 10px; */
    /* max-height: 50vh; */
    /* resize: both; */
    height: 150px;
    outline: none;
    width: 100%;
    overflow: auto;
    word-wrap:break-word;
}

